<% @title = "User: #{@user.name}, Room: #{@room.name}" %>

<script type="text/javascript" src="/message-bus.js"></script>
<script type="text/javascript">
$(function() {
  var room;
  var post = $('#post');
  var posts = $('#posts');
  var content = $('#content');

  resize = function() {
    $('#content').css('height', window.innerHeight-120);
  }

  jumpToPageBottom = function() {
    content.scrollTop(content.prop("scrollHeight"));
  }

  var add_line = function(s){
    var li = $("<li></li>");
    li.text(s);
    posts.append(li);
    jumpToPageBottom();
  }

  resize();
  $(window).resize(resize);
  jumpToPageBottom();
  post.focus();

  MessageBus.baseUrl = "<%= request.path_info %>/";
  MessageBus.start();
  MessageBus.subscribe("<%= @channel %>", function(data){
    data = JSON.parse(data);
    if (data.join) {
      add_line('<' + data.at + '> ' + data.join + ' joined');
    } else if (data.leave) {
      add_line('<' + data.at + '> ' + data.leave + ' left');
    } else {
      add_line('<' + data.at + '> ' + data.user + ': ' + data.message);
    }
  });
  $.post("/room/<%= @room.id %>/<%= @user.id %>/join");

  window.onbeforeunload = function(){
    $.post("/room/<%= @room.id %>/<%= @user.id %>/leave");
  };

  $('#post_form').submit(function(e){
    $.post("/room/<%= @room.id %>/<%= @user.id %>/message", {"post": post.val()});
    post.val('');
    e.preventDefault();
  });

});
</script>

<div class="container" id="content">
  <ul id="posts">
    <% @room.recent_messages.reverse_each do |msg| %>
      <li><%= msg.line %></li>
    <% end %>
  </ul>
</div>

<footer class="footer">
  <div class="container">
    <form action="#" id="post_form">
      <input id="post" />
    <form>
  </div>
</footer>
