<% @title = "User: #{@user.name}, Room: #{@room.name}" %>

<div class="container" id="content">
  <ul id="posts">
    <% @room.recent_messages.reverse_each do |msg| %>
      <li><%= msg.line %></li>
    <% end %>
  </ul>
</div>

<footer class="footer">
  <div class="container">
    <form action="#" id="post_form"
        <% csrf_base = "/room/#{@room.id}/#{@user.id}/" %>
        data-base-url="<%= request.path_info %>/"
        data-channel="<%= @channel %>"
        data-field="<%= csrf_field %>"
        data-join="<%= csrf_token(csrf_base + 'join') %>"
        data-leave="<%= csrf_token(csrf_base + 'leave') %>"
        data-message="<%= csrf_token(csrf_base + 'message') %>"
      >
      <input type="text" id="post" />
      <input type="submit" id="post_submit" value="Post"/>
    <form>
  </div>
</footer>

<script type="text/javascript" src="/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/message-bus.js"></script>
<script type="text/javascript" src="/room.js"></script>
